.address_container{
    width: 100%;
    height: auto;
    background-color: #636363;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address_container h2{
    margin-top: 35px;
    background-color: white;
    border-radius: 15px;
    width: 25vw;
    text-align: center;
    font-size: 8vh;
    font-family: inter;
}

.address_container p{
    margin-top: 25px;
    font-size: 4vh;
    color: white;
}

.address_maps{
    width: 85vw;
    height: 85vh;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 70px;
    border-radius: 10px;
}